<% include header %>
    <% include navbar %>
    <!-- los símbolos de menor y mayor con el porcentaje, se usan para poner
         javascript dentro y que se ejecute del lado del servidor -->

    <h1>CSV</h1>

    <p>My first paragraph.</p>

<% include footer %>
