<% include header %>
    <% include navbar %>
    <!-- los símbolos de menor y mayor con el porcentaje, se usan para poner
         javascript dentro y que se ejecute del lado del servidor -->

    <h1>CSV</h1>

    <table>
        <% csv.forEach(function(row) { %>
            <tr>
                <% row.forEach(function(cell) { %>
                    <td><%=cell %></td>
                <% }); %>
            </tr>
        <% }); %>
    </table>

<% include footer %>
