<% include header %>

    <!-- los símbolos de menor y mayor con el porcentaje, se usan para poner
         javascript dentro y que se ejecute del lado del servidor -->

    <h1><%=title %></h1>

    <p>My first paragraph.</p>

    <p>Estado de la variable de prueba: <%=prueba %></p>
    <a href="#">Soy un enlace</a>

    <!-- Dentro de los dobles corechetes se pone el javascript que se quiere
         ejecutar del lado del cliente.
         esto debería imprimir lo que devuelve la función 'soyUnCaracol' del
         main.js -->
    {{=soyUnCaracol()}}


<% include footer %>
