<% include header %>
    <% include navbar %>

    <h1><%=title %></h1>

    <p>My first paragraph.</p>

    <form action="/csv" method="post">
        <textarea rows="4" cols="50" name="csvData"></textarea>
        <input type="submit">
    </form>

<% include footer %>
